<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdDuplexWP8" version="9.0.0.6" targetFramework="wp80" />
  <package id="Microsoft.AdMediator.WindowsPhone8.AdDuplex" version="1.0.14" targetFramework="wp80" />
  <package id="Microsoft.AdMediator.WindowsPhone8.GoogleAdMob" version="1.0.14" targetFramework="wp80" />
  <package id="Microsoft.AdMediator.WindowsPhone8.MicrosoftAdvertising" version="1.0.15" targetFramework="wp80" />
  <package id="MonoGame.Framework.WindowsPhone8" version="3.4.0.459" targetFramework="wp80" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="wp80" />
  <package id="RateMyApp" version="1.1.0" targetFramework="wp80" />
</packages>